/* Ma banque de couleur uniforme
	Blue Black:#021c1e;
	Cadet Blue:#004445;
	Rain:#2c7873;
	Greenery:#6fb98f;
	Fields:#b3c100;
	Granite:#b7b8b6;
*/

@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100;200;300;400;500;600;700&family=Dancing+Script:wght@500;600;700&display=swap');
html{
	scroll-behavior: smooth;
}
body{
	font-family: 'Titillium Web', sans-serif;
	text-align: center;
	color: #fff;
	margin: 0px;
	padding: 0px;
}
h2{
	text-transform: uppercase;
}
ul{
	list-style-type: none;
}
a{
	text-decoration: none;
	color: red;
}
#bloc_page{
	width: 90%;
	margin: auto;
	padding: 0px;
	display: flex;
	flex-direction: column;
}
/*******************Menu de navigation*********************/
.navigation{
	margin-top: 0px;
	position: fixed;
	width: 100%;
	height: auto;
	padding: 20px;
	background-color: #b3c100;

}
.navigation ul{
	display: flex;
	justify-content: space-around;
}
.navigation a{
	font-size: 25px;
}
/****************banniere**************/
#banniere{
	margin-top: 80px;
	background-image: url(imgs/banniere.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 400px;
	width: 100%;
	border-radius: 20px;
}
/*******************SECTION********************/

#section_prin{
	margin-top: 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

/*********************SECTION PERS*******************/
#info_pers{
	width: 35%;
	flex-direction: column;
	background-color: #004445;
	border-radius: 20px 0 0 20px;
}
#info_pers img{
	width: 80%;
	height: auto;
	border-radius: 10px;
}
h1{
	font-family: 'dancing Script', cursive;
	font-size: 250%;
	margin: 5px;
}
figcaption{
	font-family: 'Advent pro', cursive;
	letter-spacing: 5px;
}
.h2_1{
	font-family: 'Advent pro', cursive;
	text-transform: uppercase;
	text-align: center;
	border: 1px solid #fff;
	border-radius: 50px;
	width: 70%;
	margin:auto;
	margin-left: 0px;
}
.info_prin{
	margin-left: 15%;
	padding: 5px 0;
	text-align: justify;
}
.info_prin p{
	width: 80%;
	text-align: left;
}
.info_prin i{
	margin: 5px 0px;
}
h4{
	margin: 0px;
	padding: 0px;
}
.flex{
	width: 80%;
	display: flex;
	justify-content: space-between;
}
.interm, .avance, .expert, .debut{
	width: 35%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.N1, .N2, .N3, .N4, .N5{
	border:solid 1px #fff;
	width: 15px;
	height: 15px;
}
.expert div, .avance div, .interm div, .debut div{
	background-color: #fff;
}
.avance .N5, .interm .N4, .interm .N5, .debut .N3, .debut .N4, .debut .N5{
	background-color: inherit;
}
/************************************SECTION INFO PERSONNEL********************/
#info_pro{
	width: 65%;
	flex-direction: column;
	background-color: #2c7873;
	border-radius: 0 20px 20px 0;
	text-align: left;
	margin: 0px;
	padding: 0.83em;
	padding-top: 5em;
}
.flex_pro{
	display: flex;
	justify-content: flex-start;
}
.icone{
	width: 5%;
	height: 2.2em;
	margin-left: -15px;
	background-color: #004445;
}
.icone p{
	padding: 0px;
	margin: 4px 0px 0px 5px;
	font-size: 1.5em;
}
#info_pro h2{
	margin: 0px;
	padding: 5px;
	width: 90%;
	height: 20px;
	border:2px solid #fff;
}
.titre{
	color: #ccc;
	border:solid #ccc;
	border-top: 5px;
	border-bottom: 5px;
}
.date{
	color: #004445;
}
dl{
	font-size: 1.6em;
}
/***************************************** SECTION FOOTER ***********************************************/
footer{
	margin: 10px 0;
	width: 100%;
	flex-direction: column;
	background-color: #6fb98f;
	border-radius: 20px;
}
form{
	margin: 0 auto;
	max-width: 900px;
}
input, textarea, button{
	border:none;
	width: 55%;
	margin: 1px 0;
	font-size: 1.2em;
	font-family: 'Advent pro', sans-serif;
	border-radius: 8px;
}
textarea{
	height: 120px;
}
button{
	font-size: 1.5em;
	background-color: blue;

}
 button:hover{
 	background-color: red;
 	color: #FFFAE1;
 	cursor: pointer;
 	transition: 0.3s ease-in-out;
 }
 #trait{
 	height: 1px;
	width: 75%;
	margin: 60px auto;
	background-color: #fff3e1;
 }
 #copyright-icons{
 	display: flex;
 	margin-bottom: 20px;
 	padding: 0 10%;
 }
 #copyright{
 	width: 50%;
 	text-align: left;
 	color: #FFFAE1;
 }
 #icons{
 	width: 50%;
 	text-align: right;
 }
 #icons a {
 	display: inline-block;
 	padding: 0 15px;
 	font-size: 1.3em;
 	color: #FFFAE1;
 }
 #icons a:hover, .navigation a:hover{
 	transform: scale(1.5);
 	transition: 0.15s;
 }